[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = ../../trol98/glfw.git
	branch = master
[submodule "TerrainGen/src/vendor/glm"]
	path = TerrainGen/src/vendor/glm
	url = https://github.com/g-truc/glm
